extends layout

block content
    .row.row-cols-1.row-cols-md-2
        each val in bags.data
            .col.mb-4
                .card.h-100
                    span.badge.badge-dark Dark
                    img.card-img-top(src=val.images[0], alt='custom bag')
                    .card-body
                        h6#cardIdentity.card-title #{val.name}
                        p.card-text
                        | #{val.description}
                        a.btn.btn-outline-success(href='/details/' + val.id) View