extends layout

block content
  .masthead
    .container.h-100
      .row.h-100.align-items-center
        .col-12.text-center
          h1.tangerineFont
            a.btn.btn-success.btn-lg(type='button' href='/bags') Shop Bags
  //- script.
  //-   let vh = window.innerHeight * 0.01;
  //-   document.documentElement.style.setProperty('--vh', `${vh}px`);
          //- p.lead Luxury bags for luxury people
