extends layout

block content
  header.masthead
    .container.h-100
      .row.h-100.align-items-center
        .col-12.text-center
          h1.tangerineFont
            button.btn.btn-success.btn-lg(type='button') Shop Bags
          //- p.lead Luxury bags for luxury people
