extends layout

block content
    .container-fluid
        .row
            img.mx-auto.d-block(src=product.images[0], alt='Responsive image')
        hr#dividerStyle
        h1 #{product.name}
        h3 $#{price}
        .flex-container
            div
                input#validationDefault01.form-control(type='text', name='qty', placeholder='Qty.', required='', value='1')
            div
                button.btn.btn-success.productBtn.col-sm-4.offset-sm-4(id=product.id, type='button') Add to Cart
